<h1>Tack för ditt köp!</h1>
<p>Din order har mottagits och behandlas.</p>
<p>Om du inte är nöjd erbjuder vi pengar tillbaka men endast om du vinner en fight med oss</p>
<a href="/shop" class="back-button">Tillbaka till butiken</a>