<form action="/users/<%= @user['id'] %>/update" method="post">
  <label for="username">Name:</label>
  <input type="text" name="username" id="username" value="<%= @user['name'] %>" required>

  <label for="userpassword">Password:</label>
  <input type="password" name="user_password" id="user_password" value="<%= @user['password'] %>" required>

  <button type="submit">Update User</button>
</form>
