<h2>Alla användare i systemet</h2>

<ul>
  <% if @users && @users.any? %>  <!-- Check if @users exists and is not empty -->
    <% @users.each do |user| %>
      <li>
        <a href="/users/<%= user['id'] %>"><%= user['name'] %></a>

        <form action="/users/<%= user['id'] %>/delete" method="post" style="display:inline;">
          <input type="submit" value="Ta bort">
        </form>

        <form action="/users/<%= user['id'] %>/edit" method="get" style="display:inline;">
          <input type="submit" value="Ändra">
        </form>
      </li>
    <% end %>
  <% else %>
    <p>Inga användare hittades.</p> <!-- Display message if no users -->
  <% end %>
</ul>

