<form action="/users" method="post">
    <label>Användarnamn <input type="text" name="username" required></label>
    <label>Lösenord <input type="password" name="user_password" required></label>
    <input type="submit" value="Spara">
</form>
