<h1 style="text-align:center">New Task</h1>

<form style="text-align:center" action='/tasks' method="POST">
  <h4>Description</h4>
  <textarea name="description" rows="8" cols="80"></textarea>

  <br><br>

  <h4>Due Date</h4>
  <input type="date" name="due">

  <br><br>

  <input type="submit" value="Create">

  <% if @create_error %>
    <h3 style="color: red;"><%= @create_error %></h3>
  <% end %>
</form>