<div class="user-profile">
  <h1>Välkommen, <%= @user.username %></h1>
  
  <div class="user-content">
    <div class="user-info">
      <p>Kontouppgifter:</p>
      <ul>
        <li>Användarnamn: <%= @user.username %></li>
      </ul>
    </div>
    
    <div class="user-actions">
      <a href="/cart" class="btn">Visa kundvagn (<%= total_cart_items %>)</a>
      <form action="/logout" method="post">
        <button type="submit" class="btn">Logga ut</button>
      </form>
    </div>
  </div>
</div>