<div class="auth-form">
  <h2>Skapa konto</h2>
  
  <% if @signup_error %>
    <div class="error-message"><%= @signup_error %></div>
  <% end %>

  <form action="/users/signup" method="POST">
    <label for="new-username">Användarnamn:</label>
    <input type="text" id="new-username" name="username" required>
    
    <label for="new-password">Lösenord:</label>
    <input type="password" id="new-password" name="password" required>
    
    <div class="auth-actions">
      <input type="submit" value="Registrera">
      <a href="/welcome" class="secondary-action">Har du redan ett konto?</a>
    </div>
  </form>
</div>